<!DOCTYPE html>
<html>
	<head>
		<title>login from ejs</title>
		<link rel="stylesheet" href="css/main.css">
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<script type="text/javascript" >
		'use strict';
		let socket = io("<%= host %>"+"/login");
		let dotNum;
		
		socket.on('connect', function () {
		  	console.log("connect to server")
		  	
		 });
		window.addEventListener("load", function(){
			let id;
			let ids;
			socket.emit("join");
			socket.on("register", (data)=>{
				id = data;
				console.log("got id: ", id);
			})
			window.addEventListener("mousemove", (e)=>{
				socket.emit("mousemove", {
					x: e.clientX/window.innerWidth || e.pageX/window.innerWidth,
					y: e.clientY/window.innerHeight || e.pageY/window.innerHeight
				})

			})
			socket.on("countOdId",(data)=>{
				// alert(data)
				let dots = document.querySelectorAll(".dot");
				for (var i = 0; i < dots.length; i++) {
					if(dots[i]){
						dots[i].remove();
					}
					console.log("remove 1");
				};
				ids = data.ids;
				console.log("ids, ", ids);
				for (var i = 0; i < ids.length; i++) {
					var dot = document.createElement("div");	
					dot.setAttribute("data-id", ids[i]);
					dot.classList.add("dot");
					dot.style.top = Math.floor(Math.random()*window.innerHeight)+"px";
					dot.style.left = Math.floor(Math.random()*window.innerWidth)+"px";
					document.body.appendChild(dot);
				};


			})

			socket.on("someOneMoving", (data)=>{
				// console.log("someOneMovingdata: ", data);
				let query = "div[data-id="+data.id.toString()+"]";
				let moving = document.querySelector(query);
				// console.log("moving: ", moving);
				moving.style.top = data.y*window.innerHeight+ "px";
				moving.style.left = data.x*window.innerWidth+ "px";
			})

		})

	</script>
	<body id="loginbd">
		
		<main id="loginMain">
			
		</main>
	<!-- 	<script type="text/javascript" src="js/login.js">

		</script> -->
		<script type="text/babel" src="js/login.js"></script>
		<script type="text/babel" src="js/controller.js"></script>
	</body>
</html>